# fly.toml app configuration file generated for a2a-x402-wallet-web on 2026-03-05T18:04:45+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'a2a-x402-wallet-web'
primary_region = 'nrt'

[build]
  dockerfile = './Dockerfile'

  [build.args]
    NEXT_PUBLIC_PRIVY_APP_ID = ''
    NEXT_PUBLIC_PRIVY_AUTHORIZATION_KEY_ID = ''

[env]
  PORT = '3000'
  APP_URL = 'set-your-domain'

  # x402 payment extension (Merchant Agent config)
  A2A_X402_PAY_TO=''
  A2A_X402_NETWORK = 'base-sepolia'
  A2A_X402_ASSET = '0x036CbD53842c5426634e7929541eC2318f3dCF7e'
  A2A_X402_MAX_AMOUNT = '1000'
  X402_FACILITATOR_URL = 'https://x402.org/facilitator'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
